<%- include('../../shared/includes/head', {pageTitle: 'Beats'})  %>
<link rel="stylesheet" href="/styles/beats.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>All Beats</h1>
        <ol id="beats-grid">
            <% for (const beat of beats) { %>
                <li>
                    <%- include('../../shared/includes/beat-item', { beat: beat} )%>
                </li>
            <% } %>
        </ol>
    </main>
<%- include('../../shared/includes/footer') %>