<%- include('../../shared/includes/head', {pageTitle: 'Beats'})  %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>All Beats</h1>
        <p>Feed me rappers or feed me beats.</p>
    </main>
<%- include('../../shared/includes/footer') %>