<%- include('includes/head', {pageTitle: 'An Error Occured'})  %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Cannot find resource</h1>
        <p>Unfortunately, we could not find the requested resource.</p>
        <p><a href="/" class="btn">Back to Safety</a></p>
    </main>
<%- include('includes/footer') %>