<%- include('../../shared/includes/head', {pageTitle: 'Beats'})  %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Beat Administration</h1>
        <section>
            <h2>Manage Beats</h2>
            <p>
                <a href="/admin/beats/new" class="btn">Add Beat</a>
            </p>
        </section>
        <section>
            <p>Feed me rappers or feed me beats.</p>
        </section>
    </main>
<%- include('../../shared/includes/footer') %>