<%- include('../../shared/includes/head', {pageTitle: 'Add New Beat'})  %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Add new Beat</h1>
           <%- include('includes/beat-form', {submitPath: '/admin/beats', beat: {
            title: "",
            summary: "",
            price: "",
            description: ""
           },
           imageRequired: true }) %>
    </main>
<%- include('../../shared/includes/footer') %>