<%- include('../../shared/includes/head', {pageTitle: 'Add New Beat'})  %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Add new Beat</h1>
           <%- include('includes/beat-form', {submitPath: 'admin/beats', beat: {
            title: "",
            summary: "",
            price: "",
            description: ""
           }}) %>
    </main>
<%- include('../../shared/includes/footer') %>