<article class="beat-item">
  <img src="<%= beat.imageUrl %>" alt="<%= beat.title %>" />
  <div class="beat-item-content">
     <h2><%= beat.title %></h2>
  <div class="beat-item-actions">
    <a href="/admin/beats/<%= beats.id %>" class="btn btn-alt">
      View & Edit
    </a>
    <button class="btn btn-alt">Delete</button>
  </div>
  </div>
 
</article>;
