<%- include('../../shared/includes/head', {pageTitle: 'Order Complate'})  %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
       <h1>Order Complete</h1>
       <p>Visit the <a href="/orders">orders page</a> for more details!</p>
    </main>
<%- include('../../shared/includes/footer') %>