#beats-grid {
    margin: var(--space-8) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--space-4);
}

.beat-item {
    
    border-radius: var(--border-radius-medium);
    text-align: center;
    background-color: var(--color-gray-600);
    overflow: hidden;
}

.beat-item img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.beat-item-content {
    padding: var(--space-4);
}

.beat-item-content h2 {
    font-size: 1.15rem;
    margin: var(--space-2) 0;
}

.beat-item-actions {
    display: flex;
    gap: var(--space-2);
    margin-top: var(--space-4);
    justify-content: center;
}

#beat-details header {
    margin-top: var(--space-8);
    padding: var(--space-8);
    background-color: var(--color-gray-600);
    gap: var(--space-8);
  }
  
  #beat-details img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-gray-100);
  }
  
  #beat-info {
    text-align: center;
  }
  
  #beat-description {
    background-color: var(--color-primary-500-bg);
    padding: var(--space-8);
    white-space: pre-wrap;
  }
  
  @media (min-width: 48rem) {
    #beat-details header {
      display: flex;
    }
  
    #beat-details img {
      width: 20rem;
      height: 15rem;
      /* transform: rotateZ(-10deg); */
      margin: var(--space-8);
    }
  
    #beat-info {
      text-align: left;
    }
  }
