<%- include('../../shared/includes/head', {pageTitle: 'Signup'})  %>
<link rel="stylesheet" href="/styles/forms.css" />
<link rel="stylesheet" href="/styles/auth.css" />
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
            <p class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </p>
            <p class="form-control">
                <label for="confirm-email">Confirm Email</label>
                <input type="email" id="confirm-email" name="confirm-email" required>
            </p>
            <p class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" minlength="6" required>
            </p>
            <hr>
            <p class="form-control">
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" required>
            </p>
            <p class="form-control">
                <label for="street">Street Address</label>
                <input type="text" id="street" name="street" required>
            </p>
            <p class="form-control">
                <label for="postal">Postal Code</label>
                <input 
                  type="text" 
                  id="postal" 
                  name="postal" 
                  minlength="5" 
                  maxlength="5" 
                  required>
            </p>
            <p class="form-control">
                <label for="city">City</label>
                <input type="text" id="city" name="city" required>
            </p>
            <button class="btn">Create Account</button>
            <p id ="switch-form"><a href="/login">Already have an account? Login here.</a></p>
        </form>
    </main>
<%- include('../../shared/includes/footer') %>